.App {
  text-align: center;
  /* min-height: 100vh; */
  max-width: 700px;
  color: white;
}

.App-header {
  /* min-height: 3vh; */
  margin: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
  font-size: 20px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.button-width100 {
  width: 100%;
}
.margin-h {
  margin-left: 8px;
  margin-right: 8px;
}

.controls {
  margin-top: 6px;
}

/* BOARD STYLES */
.board {
  color: hsl(0, 0%, 67%);
  font-size: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block-row {
  display: flex;
  flex-direction: row;
}
.block {
  border: solid 4px hsl(0, 0%, 50%);
  margin: -2px;
  display: flex;
  flex-direction: column;
}
.cell {
  border: solid 2px hsl(0, 0%, 30%);
  padding: 2px;
  margin: -1px; 
  min-width: 28px;
  height: 28px;
}
.cell:hover {
  background-color: hsl(100, 13%, 30%);
}
.cell-fixed {
  color: hsl(0, 0%, 90%);
}
.cell-highlighted {
  background-color: hsl(220, 13%, 24%);
}
.cell-selected-number {
  background-color: hsl(100, 13%, 25%);
}
.cell-selected {
  background-color: hsl(100, 13%, 30%);
}
.red-text {
  color: hsl(7, 73%, 79%)
}