.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  min-height: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  font-size: 20px;
}

.board {
  color: hsl(0, 0%, 67%);
  font-size: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.block-row {
  display: flex;
  flex-direction: row;
}
.block {
  border: solid 4px hsl(0, 0%, 50%);
  margin: -2px;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.cell {
  border: solid 2px hsl(0, 0%, 30%);
  padding: 2px;
  margin: -1px; 
  min-width: 28px;
  height: 28px;
}
.cell:hover {
  background-color: hsl(100, 13%, 30%);
}
.cell-fixed {
  color: hsl(0, 0%, 90%);
}
.cell-highlighted {
  background-color: hsl(220, 13%, 24%);
}
.cell-selected-number {
  background-color: hsl(100, 13%, 25%);
}
.cell-selected {
  background-color: hsl(100, 13%, 30%);
}