.App {
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 100%;
  color: white;
}

.App-link {
  color: hsl(207, 70%, 77%);
}
.row {
  margin: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;  
}
.button-width100 {
  width: 100%;
}
.margin-h {
  margin: 8px;
}
.row-center {
  margin: 2px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}
.controls {
  margin-top: 32px;
  width: fit-content;
  max-width: 100%;
  margin: auto
}


/* BOARD STYLES */
.board {
  color: hsl(207, 70%, 80%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block-row {
  display: flex;
  flex-direction: row;
}
.block {
  border: solid 2px hsl(0, 0%, 5%);
  margin: -1px;
  display: flex;
  flex-direction: column;  
}
.cells-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cell {
  border: solid 1px hsl(0, 0%, 10%);
  min-width: 30px;
  min-height: 30px;
}
.cell:hover {
  background-color: hsla(220, 55%, 40%, 0.986);
}
.cell-fixed {
  color: hsl(0, 0%, 90%);
}
.cell-highlighted {
  background-color: hsla(220, 13%, 28%, 0.986);
}
.cell-selected-number {
  background-color: hsla(220, 55%, 30%, 0.986);
}
.cell-selected {
  background-color: hsla(220, 55%, 40%, 0.986);
}
.red-text {
  color: hsl(7, 63%, 59%)
}

/* SCREEN SIZES */
@media (min-width: 320px) {
  .App {
    font-size: 23px;
  }
  .row-center {
    font-size: 15px;  
    max-width: 310px;
  }
  .cell {
    min-width: 32px;
    min-height: 32px;
  }
}

@media (min-width: 360px) {
  .App {
    font-size: 27px;
  }
  .row-center {
    font-size: 17px;  
    max-width: 346px;
  }
  .cell {
    min-width: 36px;
    min-height: 36px;
  }
}

@media (min-width: 400px) {
  .App {
    font-size: 30px;  
  }
  .row-center {
    font-size: 20px;  
    max-width: 380px;
  }
  .cell {
    min-width: 40px;
    min-height: 40px;
  }
} 

 @media (min-width: 534px) {
  .App {
    font-size: 41px; 
  }
  .row-center {
    font-size: 26px;  
    max-width: 518px;
  }
  .options-menu {
    display: grid;
    grid-template-columns: 180px 50px 65px;
  }
  .cell {
    min-width: 55px;
    min-height: 55px;
  }
} 